
@media (min-width: 1001px){

.logo_et_navigation{
    display: flex;
    background-color: #252525;
}

.titre_page{
    background-color: #131212;
    color: #ff9419;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

    /*NAV*/

nav{
    margin-top: 0.8%;
    margin-bottom: 0.8%;
}

li{
    list-style: none;
}

.menu{
    text-decoration: none;
    color: white;

}

.nav > ul{
    text-align: center;
}

nav > ul > li{
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: white;
    display: inline;
    font-weight: bold;
}

nav > ul > li > a{
    padding: 15px 30px;
    color: white;
    font-size: 1.5em;
}

nav > ul > li > a:hover{
    color: #ff7519;
    background-color: #3433358c;
    border-radius: 3px;
}

    /*NAV */

}

@media (max-width: 1000px){

.logo_et_navigation{
    background-color: #252525;
}

.logo-principal{
    width: 500px;
}

    /*NAV*/

nav{
    margin-top: 2%;
    margin-bottom: 2%;
}

li{
    list-style: none;
}
    
.menu{
    text-decoration: none;
    color: white;
}
    
.nav > ul{
    text-align: center;
}
    
nav > ul > li{
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
    
nav > ul > li > a{
    padding: 10px 20px;
    color: white;
    font-size: 2.5em;
}

nav > ul > li > a:hover{
    color: #ff7519;
    background-color: #343335;
}
    
    /*NAV */
    
}